node_modules/
src/main.ts
dist/
.vscode/
reports/
.nyc_output/
.DS_Store
.python-version
.stryker-tmp/
test-report.xml
test/integration/.localstack/
test/integration/fixture/terraform/.terraform
test/integration/fixture/terraform/terraform.state
test/integration/fixture/terraform/terraform.tfstate.backup
test/integration/fixture/terraform/.terraform.lock.hcl
